@model IEnumerable<GestorDeProyectosMVC.Models.Proyecto>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Resultado de la busqueda</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsVisible)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsVisible)
            </td>
            @{if (item.EsVisible)
                {
                    <td class="text-right">
                        <a class="btn btn-info" asp-action="AbrirBusqueda" asp-route-id="@item.Id">Abrir</a> 
                    </td>

                }

            }
        </tr>
}
    </tbody>
</table>
